* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: #839695;
}
